<div id="message-container" class="ie-opacity-fix show_review__message">
  <div id="message-contents">
    <%= render 'review_options', review: review %>
    <div class="all-message ie-opacity-fix">
      <%= render 'message', review: review %>
      <% if brand.review_show_created_at %>
        <div class="date ie-opacity-fix"><%= review.created_at.strftime("%Y. %m. %d") %></div>
      <% end %>
    </div>
    <div class="show_review__feedback_container">
      <div class="panel-footer no-border">
        <div class="actions-container">
          <%= render 'action_likes', review: review, hide_edit: true %>
        </div>
        <% if brand.review_enable_user_comments || review.comments_count > 0 %>
          <%= content_tag :div, class: "comments-container ie-opacity-fix #{'hidden' if @external_widget && review.comments_count == 0}" do %>
            <ul class="review-comments">
              <%= render review.comments if review.comments_count > 0 %>
            </ul>
            <% if brand.review_enable_user_comments && !@external_widget %>
              <div class="new-comments ie-opacity-fix">
                <%= form_for Comment.new, url: comments_path, validate: true, remote: true, data: {login_required: true} do |f| %>
                  <%= f.text_field :message, placeholder: t('comments.attributes.message.placeholder'), class: 'input-block', data: {login_required: true} %>
                  <%= f.hidden_field :review_id, value: review.id %>
                  <%= content_tag :button, '등록', class: 'btn btn-white ie-opacity-fix', type: 'submit' %>
                  <input type="hidden" name="tracking_id">
                  <% if current_user %>
                    <script class="blueprint" type="text/x-jquery-tmpl">
                      <%= render "comments/comment", comment: Comment.template(current_user, review) %>
                    </script>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
