<% title @board ? @board.name : '전체 리뷰' %>
<% content_for :content do %>
  <%= content_tag :div, class: "widget widget-reviews pagination-list #{'no-data' if @reviews.empty?}" do %>
    <div class="widget-body">
      <%= render 'reviews/index/custom/top_menu' %>
      <%= render 'reviews/index/custom/notices' %>
      <% review_option_types = @brand.searchable_options %>
      <% if !review_option_types.blank? %>
        <%= render 'review_options_search', review_option_types: review_option_types %>
      <% end %>
      <%= content_tag :div, '아직 작성한 리뷰가 없습니다.', class: 'no-data-message' %>
      <ul class="reviews reviews-default">
        <%= render partial: 'reviews/index/custom/review', collection: @reviews %>
      </ul>
    </div>
    <div class="widget-footer">
      <%= render 'reviews/index/custom/pagination' %>
    </div>
  <% end %>
  <%= render 'common/shared/form_upload_image' %>
<% end %>
