<% title widget.name %>
<% content_for :content do %>
  <%= content_tag :div, class: "widget widget-reviews pagination-list" do %>
    <div class="widget-body index-thumbnail-container">
      111<%= render 'reviews/top_menu' %>
      <%= render 'reviews/notices' if @brand.review_show_notice_every_board %>
      <% if @reviews.empty? %>
        <div class="no-data"><%= t('reviews.no_reviews') %></div>
      <% else %>
        <div class="reviews-contents">
          <ul class="reviews reviews-gallery">
            <%= render partial: 'reviews/review_thumbnail', collection: @reviews, as: 'review' %>
          </ul>
        </div>
      <% end %>
    </div>
    <% if @reviews.total_pages > 1 %>
      <div class="widget-footer">
        <%= paginate @reviews, remote: true, window: kaminari_window(params[:page].to_i, @reviews.total_pages) %>
      </div>
    <% end %>
  <% end %>
<% end %>
