<div class="panel-body no-border">
  <div class="review-summary review__summary">
    <div class="lfloat">
      <div class="review-summary__author-title">
        <%= review_user_display_name(review) %>님의 평가
      </div>
      <div class="score">
        <div class="score__icons">
          <% (1..5).each do |i| %>
            <%= content_tag :span, nil, class: "#{review.score && i > review.score ? 'star-empty' : 'star'}" %>
          <% end %>
        </div>
        <div class="score__text"><%= ReviewScore.t(review.score) %></div>
      </div>
    </div>
    <div class="rfloat">
      <div class="total-score">
        <div class="total-score__number"><%= review.total_score %></div>
        <div class="total-score__text">추천수</div>
      </div>
    </div>
  </div>
  <%= render 'reviews/images', review: review, li_class: 'grid-4', external_widget: @external_widget %>
  <%= render 'reviews/message', review: review %>
</div>
<div class="panel-footer no-border">
  <div class="actions-container">
    <% if false %>
      <div class="inline">
        <a class="mall-link-color comments-link link-collapse">리뷰 접기</a>
      </div>
      <div class="inline divider">|</div>
    <% end %>
    <%
    likes = likes?(review)
    like = get_like(review)
    %>
    <%= content_tag :div, class: "inline like-action #{(like.score > 0 ? 'liked' : 'unliked') if likes}", data: {url: like_review_path(review)} do %>
      <div class="inline likable">
        <span class="sprites-dtrt-button-like"></span>
        <span class="sprites-dtrt-button-liked"></span>
        <a class="link-like btn">추천하기</a>
      </div>
    <% end %>
  </div>
  <%= render 'reviews/comments', review: review, external_widget: @external_widget %>
</div>
