<% product_url = @review.product_url || (@review.product ? @review.product.url : nil) %>
<% images_count = @review.images_count %>
<% content_for :content do %>
  <div id="photo-review-popup-iframe" class="fullscreen_popup review">
    <div class="fullscreen_popup__background ie-png-fix"></div>
    <div id="photo-popup-container" class="fullscreen_popup__content_container">
      <div id="photo-popup-content" class="ie-opacity-fix fullscreen_popup__content">
        <div id="photos-container">
          <%= render 'popup_photos' %>
          <%= render 'images_indicator', images_count: images_count %>
        </div>
        <% if images_count > 1 %>
          <div id="image-prev" class="navigation-button hoverable ie-opacity-fix">
            <div class="button-container">
              <div class="sprites-navigator-left ie-png-fix"></div>
            </div>
          </div>
          <div id="image-next" class="navigation-button hoverable ie-opacity-fix">
            <div class="button-container">
              <div class="sprites-navigator-right ie-png-fix"></div>
            </div>
          </div>
        <% end %>
        <div id="review-contents-container" class="ie-opacity-fix">
          <div id="info-container">
            <div class="info">
              <div class="product-info">
                <div class="product-category">
                  <%= @review.product.brand_categories.last.try(:name) %>
                </div>
                <div class="product-name">
                  <% if product_url && !@external_widget %>
                    <%= content_tag :a, @review.product_name, class: 'link-to-product link-iframe', data: {url: product_url} %>
                  <% else %>
                    <%= content_tag :span, @review.product_name, class: 'link-to-product' %>
                  <% end %>
                </div>
                <div class="product-score">
                  <% if @brand.review_show_score %>
                    <%= render 'reviews/star_rating', score: @review.score %>
                  <% end %>
                </div>
                <div class="user-name">
                  <%= @review.user_display_name %>
                </div>
              </div>
              <div class="review-like-result ie-opacity-fix">
                <%= render 'likes_description', review: @review %>
              </div>
            </div>
          </div>
          <div id="message-container" class="ie-opacity-fix">
            <div id="message-contents">
              <%= render 'review_options', review: @review %>
              <div class="all-message ie-opacity-fix">
                <div class="message review-contents-style">
                  <% @review.message.lines.each_with_index do |line, i| %>
                    <%= content_tag :div, line, class: "#{'first-line' if i == 0}" %>
                  <% end %>
                </div>
                <% if @brand.review_show_created_at %>
                  <div class="date ie-opacity-fix"><%= @review.created_at.strftime("%Y. %m. %d") %></div>
                <% end %>
              </div>
              <div class="feedback-container">
                <div class="panel-footer no-border">
                  <div class="actions-container">
                    <%= render 'action_likes', review: @review, hide_edit: true %>
                  </div>
                  <% if @brand.review_enable_user_comments || @review.comments_count > 0 %>
                    <%= content_tag :div, class: "comments-container ie-opacity-fix #{'hidden' if @external_widget && @review.comments_count == 0}" do %>
                      <ul class="review-comments">
                        <%= render @review.comments if @review.comments_count > 0 %>
                      </ul>
                      <% if @brand.review_enable_user_comments && !@external_widget %>
                        <div class="new-comments ie-opacity-fix">
                          <%= form_for Comment.new, url: comments_path, validate: true, remote: true, data: {login_required: true} do |f| %>
                            <%= f.text_field :message, placeholder: Comment::PLACEHOLDER, class: 'input-block', data: {login_required: true} %>
                            <%= f.hidden_field :review_id, value: @review.id %>
                            <%= content_tag :button, '등록', class: 'btn btn-white ie-opacity-fix', type: 'submit' %>
                            <input type="hidden" name="tracking_id">
                            <% if current_user %>
                              <script class="blueprint" type="text/x-jquery-tmpl">
                                <%= render "comments/comment", comment: Comment.template(current_user, @review) %>
                              </script>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="review-detail-close" class="ie-opacity-fix fullscreen_popup__close">
      <div class="sprites-circle-close-button ie-png-fix"></div>
    </div>
    <div id="crema-review-water-mark" class="ie-opacity-fix">
      <span class="mall-name"><%= brand_name %></span><span>with</span><span class="crema-name">CREMA REVIEW</span>
    </div>
  </div>
<% end %>
