<div class="menu">
  <ul class="rpane">
    <li class="sort-container">
      <%= select_tag :sort, options_for_select(@brand.review_sort_types(@group_by).map {|t| [ReviewSort.t(t), url_for(params.merge(category_id: @category.try(:id), group: @group_by, sort: t).except(:page))]}, url_for(params.merge(category_id: @category.try(:id), group: @group_by, sort: @review_sort).except(:page))), class: 'select2' %>
    </li>
    <li class="search">
      <%= form_tag url_for(params.except(:page)), class: 'menu-search', method: :get, remote: true do %>
        <%= text_field_tag('query', @query, placeholder: '검색어 입력', autocomplete: "off") %>
        <button type="submit" class="search">검색</button>
      <% end %>
      <% if @query %>
        <%= link_to url_for(params.except(:query, :page)), class: 'remove-query', remote: true do %>
          <span class="fa fa-times-circle"></span>
        <% end %>
      <% end %>
    </li>
    <% option_types = Review::OptionType.all %>
    <%= render option_types, review_option_types_count: option_types.count %>
  </ul>
  <ul class="lpane">
    <li class="categories-container">
      <%= select_tag :category, options_for_select(@categories.map {|c| [c.name, url_for(params.merge(category_id: c.id, group: @group_by, sort: @review_sort))]}, url_for(params.merge(category_id: @category.try(:id), group: @group_by, sort: @review_sort))), prompt: '카테고리별 보기', class: 'select2' %>
    </li>
  </ul>
</div>
